@import "../../../styles/variables";
/*
 * **************************
 * file: ./_mixins
 * **************************
 */
@import "../../../styles/mixins";

.header {
  padding: 40px 0;
}

.grid {
  @include uldev;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;

  &__item {
	&:last-child{
	  width: 70%;
	  @include breakpoint(phablet) {
		width: 100%;
	  }
	}
	@include breakpoint(tablet) {
	  width: 100%;
	}
	&:first-child {
	  @include breakpoint(tablet) {
		width: 107px;
		min-width: 107px;
	  }
	  @include breakpoint(laptop) {
		width: 207px;
		min-width: 207px;
	  }
	}
  }
}

.logo {
  display: inline-block;
  padding-right: 15px;
}