
@import "../../styles/variables";
/*
 * **************************
 * file: ./_mixins
 * **************************
 */
@import "../../styles/mixins";

.header{
  padding: 40px 0;
}
.grid{
  @include uldev;
  display: flex;
  align-items: center;
  &__item{
    width: 100%;
    &:first-child{
      width: 207px;
      min-width: 207px;
    }
  }
}
.logo{
  display: inline-block;
  padding-right: 15px;
}