
@import "../../styles/variables";
/*
 * **************************
 * file: ./_mixins
 * **************************
 */
@import "../../styles/mixins";

.list{
  @include uldev();
  @include boxsize();
  position: relative;
  text-align: right;
  @include breakpoint(tablet) {
    text-align: left;
    display: flex;
    align-items: center;
  }
  &__item{
    position: relative;
    margin-left: 15px;
    display: inline-block;
    @include breakpoint(tablet) {
      display: block;
      margin-left: 40px;
    }
    &:first-child{
      margin-left: 0;
    }
  }
  &__link{
    font-family: 'League Spartan';
    text-decoration: none;
    text-transform: uppercase;
    font-size: 9px;
    letter-spacing: 0.62em;
    color: $black;
    padding: 5px 0;
    transition: all 0.2s;
    &:hover{
      opacity: 0.4;
    }
  }
}