
@import "../../styles/variables";
/*
 * **************************
 * file: ./_mixins
 * **************************
 */
@import "../../styles/mixins";

.sidebar{
  position: fixed;
  right: 0;
  width: 107px;
  top: 0;
  height: 100%;
}
.list{
  @include uldev;
  position: relative;
  background-color: #fff;
  border-left: 1px solid $bord;
  @include boxsize;
  padding-bottom: 15px;
  &__item{
    margin-bottom: 15px;
    text-align: center;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__link{
    display: inline-block;
    padding: 10px;
    transition: all 0.2s;
    &:hover{
      opacity: 0.4;
    }
  }
}
.grid{
  @include uldev;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
.vertical{
  font-family: 'League Spartan';
  opacity: 0.2;
  font-size: 9px;
  text-transform: uppercase;
  float: left;
  transform: rotate(-90deg);
  transform-origin: left center;
  top: 286px;
  left: 53px;
  position: relative;
  width: 247px;
  letter-spacing: 0.6em;
  user-select: none;
}