@import "../../styles/variables";

@import "../../styles/mixins";

.grid{
  @include uldev;
  @include breakpoint(tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__item{
    position: relative;
    width: 100%;
    &:last-child{
      min-height: 373px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      margin-bottom: 60px;
      @include breakpoint(tablet) {
        min-height: 573px;
        box-shadow: -15.898px 25.441px 30px 0px rgba(11, 12, 17, 0.2);
      }
    }
    &:first-child{
      @include breakpoint(tablet) {
        width: 107px;
        min-width: 107px;
      }
      @include breakpoint(laptop) {
        width: 207px;
        min-width: 207px;
      }
    }
  }
}
.wrap{
  position: relative;
  z-index: 2;
  max-width: 600px;
  @include breakpoint(tablet) {
    margin-right: -150%;
  }
}
.btitle{
  font-family: 'League Spartan';
  color: $blue;
  font-size: 9px;
  letter-spacing: 0.62em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.title{
  margin: 0;
  font-size: 62px;
  line-height: 64px;
  font-family: 'Playfair Display', serif;
  margin-bottom: 20px;
}
.descr{
  font-size: 14px;
  line-height: 24px;
  color: $gray;
  letter-spacing: 0.025em;
  margin: 0;
  font-weight: 300;
  margin-bottom: 20px;
  @include breakpoint(tablet) {
    margin-bottom: 0;
  }
}
.sliderwrap{
  position: relative;
  margin-bottom: 60px;
  overflow: hidden;
}
.list{
  @include uldev;
  display: flex;
  position: absolute;
  bottom: 11px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 3;
  width: 25px;
  @include breakpoint(tablet) {
    bottom: 64px;
    left: 28px;
    right: auto;
  }
  &__item{
    font-size: 10px;
    font-family: 'League Spartan';
    padding-right: 15px;
    &:last-child{
      padding-right: 0;
    }
  }
  &__active{
    color: $blue;
    min-width: 16px;
  }
  &__last{
    position: relative;
    min-width: 16px;
    &:after{
      content: '/';
      position: absolute;
      left: -10px;
      color: $bord;
    }
  }
}